* {
    margin: 8px;
    padding: 0 10px;
    box-sizing: border-box;
}

body  {
    background: #73BAC3;
}

p.error {
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 20px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10px;
}

.main_menu {
    list-style-type: none;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_menu li {
    display: inline-block;
    padding: 10px 20px;
}

.menu_button {
    font-family: Arial, Helvetica, sans-serif;
    padding: 18.5px 40px;
    text-decoration: none;
    color: #fff;
}

.menu_button:hover {
    background-color: #555;
    cursor: pointer;
}

/* iFrame */
#Main-frame {
    transition: opacity 0.5s ease-in-out;
    border: none;
}

/* window popup */
#label {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    left: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
  }

.window-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
  }
  
.registrationClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    top: -20px;
    left: 23px;
  }
  
.registrationClose:hover,
.registrationClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.form_box {
    margin: 5px;
}

.box {
    position: relative;
    left: 20px;
}

.typeText {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 20px;
}

/* Login popup */
.loginClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    top: -20px;
    left: 23px;
  }
  
.loginClose:hover,
.loginClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }