
.container {
    background-image: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

#welcome {
    background-image: none;
    font-size: 60px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.text {
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#textdiv {
    display: inline-block;
    width: auto;
}